{
  "development": {
    "ENV_TYPE": "Running Development",
    "ENV_DEV": "Development",
    "OTTO_BACKEND_ADDRESS": "52.55.7.156",
    "OTTO_BACKEND_PORT": "8081",
    "OTTO_BACKEND_PROTOCOL": "http",
    "OAS_PROTOCOL": "https",
    "OAS_ADDRESS": "oas-dev.ottomate.me/api"
  },
  "production": {
    "ENV_TYPE": "Running Production",
    "ENV_PROD": "Production",
    "OTTO_BACKEND_ADDRESS": "150.136.182.124",
    "OTTO_BACKEND_PORT": "8081",
    "OTTO_BACKEND_PROTOCOL": "http",
    "OAS_PROTOCOL": "https",
    "OAS_ADDRESS": "oas-dev.ottomate.me/api"
  },
  "test": {
    "ENV_TYPE": "Running Test",
    "ENV_Test": "Test"
  }
}
